//doc: https://sass-lang.com/documentation

:root {
  --font-1: "Dinomouse";
  --font-2: "Walkway";
  --font-3: "GeosansLight";
  --font-4: "Roboto";
  --font-5: "Open Sans";
  --font-6: "Consolas";
}
