/*
 * PLEASANT READING. BEST PRACTICES
 * Number of characters in <p> = 65.
 * Number of words in oneline = 10/15.
 * max-width = font-size (px) * 30.
 * line-height = 140% the height of the font
 * The title size must be multiple of the text size (e.g. text: 1.6 and title:3.2em). 
 */

//doc: https://sass-lang.com/documentation

:root {
  --size-1: 1rem;
  --size-2: 1.2rem; //read mobile
  --size-3: 1.4rem;
  --size-4: 1.6rem; //read desktop
  --size-5: 1.8rem;
  --size-6: 2rem;
  --size-7: 2.2rem; //read desktop:bigger
  --size-8: 2.6rem;
  --size-9: 2.9rem;
  --size-10: 3.1rem;
  --size-11: 3.7rem;
  --size-12: 3.9rem;
  --size-13: 4.8rem;
  --size-14: 5.1rem;
  --size-15: 6rem;
  --size-16: 6.6rem;
  --size-17: 7.7rem;
  --size-18: 7.9rem;
}
