//doc: https://sass-lang.com/documentation

:root {
  --red: #ff6666;
  --black: #4d4d4d;
  --gray-1: #707070;
  --gray-2: #00000029;
  --gray-3: #eceaea;
  --almostwhite: #f7f7f7;
}

//Example: background-color: var(--red);
